<ecl-accordion label="Como criar uma senha segura">
    <p>Ao criar uma senha, recomendamos o seguinte:</p>
    <ul>
        <li>Ter pelo menos 8 caracteres</li>
        <li>Conter letras maiúsculas, minúsculas, números e símbolos</li>
        <li>Não incluir caractéres acentuados ou outros diacríticos</li>
        <li>Não utilizar seus dados pessoais como nome ou data de nascimento para compor a senha</li>
            </ul>
</ecl-accordion>

<ecl-input
    label="Senha"
    onchange={updatePassword}
    type={_type_}
    value={password}
></ecl-input>

<ecl-input
    label="Repetir senha"
    onchange={updateRepeatPassword}
    type={_type_}
    value={repeatPassword}
></ecl-input>

<div aria-live="polite">
<p if:true={showNotIdenticalMessage}>As senhas não são iguais</p>
</div>

<ecl-checkbox
    checked={showPassword}
    label="Exibir senha"
    onchange={updateShowPassword}
></ecl-checkbox>

<p>Força da sua senha: <span aria-live="polite">{_passwordForce_}</span></p>

<progress min="0" value={score} max="100">{score}%</progress>

